{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.local.azurestack.external/"
        }
    ],
    "info": {
        "description": "The Admin Commerce Management Client.",
        "title": "CommerceManagementClient",
        "version": "2015-06-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/CommerceAdmin.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-CommerceAdmin",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce/subscriberUsageAggregates": {
            "get": {
                "description": "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from direct tenants.",
                "operationId": "SubscriberUsageAggregates_List",
                "parameters": [
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-06-01-preview"
                        }
                    },
                    {
                        "description": "The reported start time (inclusive).",
                        "in": "query",
                        "name": "reportedStartTime",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "The reported end time (exclusive).",
                        "in": "query",
                        "name": "reportedEndTime",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "The aggregation granularity.",
                        "in": "query",
                        "name": "aggregationGranularity",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The tenant subscription identifier.",
                        "in": "query",
                        "name": "subscriberId",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The continuation token.",
                        "in": "query",
                        "name": "continuationToken",
                        "required": false,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Holds an array of usage aggregates and the continuation token.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Continuation token",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of usage aggregates.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Base Resource Object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "URI of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Location where resource is location.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "List of key value pairs.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Type of resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "Aggregate usage values for resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Properties for aggregate usage.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "instanceData": {
                                                                "description": "Key-value pairs of instance details represented as a string.",
                                                                "type": "string"
                                                            },
                                                            "meterId": {
                                                                "description": "Unique ID for the resource that was consumed (aka ResourceID).",
                                                                "type": "string"
                                                            },
                                                            "quantity": {
                                                                "description": "The amount of the resource consumption that occurred in this time frame.",
                                                                "type": "string"
                                                            },
                                                            "subscriptionId": {
                                                                "description": "Subscription id of tenant using plan.",
                                                                "type": "string"
                                                            },
                                                            "usageEndTime": {
                                                                "description": "UTC end time for the usage bucket to which this usage aggregate belongs.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "usageStartTime": {
                                                                "description": "UTC start time for the usage bucket to which this usage aggregate belongs.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Commerce"
                ],
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "parameters": {
                            "aggregationGranularity": "",
                            "api-version": "2015-06-01-preview",
                            "continuationToken": "",
                            "location": "local",
                            "reportedEndTime": "2017-08-02T00:00:00.00Z",
                            "reportedStartTime": "2017-08-01T00:00:00.00Z",
                            "subscriberId": "",
                            "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": []
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Resource": {
                "description": "Base Resource Object",
                "properties": {
                    "id": {
                        "description": "URI of the resource.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "location": {
                        "description": "Location where resource is location.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "name": {
                        "description": "Name of the resource.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "tags": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "List of key value pairs.",
                        "readOnly": true,
                        "type": "object"
                    },
                    "type": {
                        "description": "Type of resource.",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object",
                "x-ms-azure-resource": true
            },
            "UsageAggregate": {
                "allOf": [
                    {
                        "description": "Base Resource Object",
                        "properties": {
                            "id": {
                                "description": "URI of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "location": {
                                "description": "Location where resource is location.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "List of key value pairs.",
                                "readOnly": true,
                                "type": "object"
                            },
                            "type": {
                                "description": "Type of resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "Aggregate usage values for resource.",
                "properties": {
                    "properties": {
                        "description": "Properties for aggregate usage.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "instanceData": {
                                "description": "Key-value pairs of instance details represented as a string.",
                                "type": "string"
                            },
                            "meterId": {
                                "description": "Unique ID for the resource that was consumed (aka ResourceID).",
                                "type": "string"
                            },
                            "quantity": {
                                "description": "The amount of the resource consumption that occurred in this time frame.",
                                "type": "string"
                            },
                            "subscriptionId": {
                                "description": "Subscription id of tenant using plan.",
                                "type": "string"
                            },
                            "usageEndTime": {
                                "description": "UTC end time for the usage bucket to which this usage aggregate belongs.",
                                "format": "date-time",
                                "type": "string"
                            },
                            "usageStartTime": {
                                "description": "UTC start time for the usage bucket to which this usage aggregate belongs.",
                                "format": "date-time",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "UsageAggregateModel": {
                "description": "Properties for aggregate usage.",
                "properties": {
                    "instanceData": {
                        "description": "Key-value pairs of instance details represented as a string.",
                        "type": "string"
                    },
                    "meterId": {
                        "description": "Unique ID for the resource that was consumed (aka ResourceID).",
                        "type": "string"
                    },
                    "quantity": {
                        "description": "The amount of the resource consumption that occurred in this time frame.",
                        "type": "string"
                    },
                    "subscriptionId": {
                        "description": "Subscription id of tenant using plan.",
                        "type": "string"
                    },
                    "usageEndTime": {
                        "description": "UTC end time for the usage bucket to which this usage aggregate belongs.",
                        "format": "date-time",
                        "type": "string"
                    },
                    "usageStartTime": {
                        "description": "UTC start time for the usage bucket to which this usage aggregate belongs.",
                        "format": "date-time",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "UsageAggregatePage": {
                "description": "Holds an array of usage aggregates and the continuation token.",
                "properties": {
                    "nextLink": {
                        "description": "Continuation token",
                        "type": "string"
                    },
                    "value": {
                        "description": "Array of usage aggregates.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Base Resource Object",
                                    "properties": {
                                        "id": {
                                            "description": "URI of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Location where resource is location.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "List of key value pairs.",
                                            "readOnly": true,
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Type of resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "Aggregate usage values for resource.",
                            "properties": {
                                "properties": {
                                    "description": "Properties for aggregate usage.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "instanceData": {
                                            "description": "Key-value pairs of instance details represented as a string.",
                                            "type": "string"
                                        },
                                        "meterId": {
                                            "description": "Unique ID for the resource that was consumed (aka ResourceID).",
                                            "type": "string"
                                        },
                                        "quantity": {
                                            "description": "The amount of the resource consumption that occurred in this time frame.",
                                            "type": "string"
                                        },
                                        "subscriptionId": {
                                            "description": "Subscription id of tenant using plan.",
                                            "type": "string"
                                        },
                                        "usageEndTime": {
                                            "description": "UTC end time for the usage bucket to which this usage aggregate belongs.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "usageStartTime": {
                                            "description": "UTC start time for the usage bucket to which this usage aggregate belongs.",
                                            "format": "date-time",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "AggregationGranularityParameter": {
                "description": "The aggregation granularity.",
                "in": "query",
                "name": "aggregationGranularity",
                "required": false,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ApiVersionParameter": {
                "description": "Client Api Version.",
                "in": "query",
                "name": "api-version",
                "required": true,
                "schema": {
                    "type": "string",
                    "default": "2015-06-01-preview"
                }
            },
            "ContinuationTokenParameter": {
                "description": "The continuation token.",
                "in": "query",
                "name": "continuationToken",
                "required": false,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            },
            "ReportedEndTimeParameter": {
                "description": "The reported end time (exclusive).",
                "in": "query",
                "name": "reportedEndTime",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string",
                    "format": "date-time"
                }
            },
            "ReportedStartTimeParameter": {
                "description": "The reported start time (inclusive).",
                "in": "query",
                "name": "reportedStartTime",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string",
                    "format": "date-time"
                }
            },
            "SubscriptionIdParameter": {
                "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
                "in": "path",
                "name": "subscriptionId",
                "required": true,
                "schema": {
                    "type": "string"
                }
            },
            "TenantSubscriptionIdParameter": {
                "description": "The tenant subscription identifier.",
                "in": "query",
                "name": "subscriberId",
                "required": false,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    }
}